    body {
        width: 100%;
    }
    #title {
        display: inline;
        text-align: center;
    }
    #instagram {
        margin-left: 23%;
    }
    #intro {
        margin-left: 10%;
        margin-right: 10%;
    }